services:
  backend-project:
    build: .
    container_name: backend-project
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - USE_MLFLOW=true
      - MLFLOW_HTTP_REQUEST_TIMEOUT=5
      - MLFLOW_HTTP_REQUEST_MAX_RETRIES=1
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
      - KAFKA_BOOTSTRAP=redpanda:29092
    depends_on:
        mlflow:
          condition: service_healthy
        redpanda:
          condition: service_started
    volumes:
      - .:/backend_course2025
  
  mlflow:
    image: ghcr.io/mlflow/mlflow:v3.9.0
    container_name: mlflow
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root /mlflow/artifacts
      --allowed-hosts 127.0.0.1:5000,localhost:5000,mlflow:5000
    ports:
      - "5000:5000"
    volumes:
      - ./mlflow-data:/mlflow
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://127.0.0.1:5000').read()"]
      interval: 5s
      timeout: 5s
      retries: 50
  db:
    image: postgres:13
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redpanda:
    image: redpandadata/redpanda:latest
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
    ports:
      - "9092:9092"
  console:
    image: redpandadata/console:latest
    environment:
      KAFKA_BROKERS: redpanda:29092
    ports:
      - "8080:8080"
    depends_on:
      - redpanda
  moderation-worker:
    build: .
    command: python -m app.workers.moderation_worker
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
      - KAFKA_BOOTSTRAP=redpanda:29092
    depends_on:
      mlflow:
        condition: service_healthy
      db:
        condition: service_started
      redpanda:
        condition: service_started
    volumes:
      - .:/backend_course2025

volumes:
  pgdata:
  mlflow_data: