fastapi
uvicorn[standard]
pydantic
pytest
pytest-asyncio
scikit-learn
numpy<2.0
mlflow
asyncpg
psycopg2-binary
# yandex-pgmigrate
aiokafka
redis>=5.0.0
fakeredis[lua]
aiosqlite
httpx>=0.27.0
prometheus-client
sentry-sdk[fastapi]
PyJWT